


body
{
   background-color: blue;}
.heading
{
    background-image: linear-gradient(chocolate,orange);
    font-size: 1cm; color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
  
}
.list
{   margin-left: 50px; margin-top: 70px;
    background-color: white;
    border-style:solid; color:black;
    box-sizing:border-box;
    width:25%;
    border-radius: 10px;

}
.title{ 
    background-image:linear-gradient(brown,chocolate);
    font-size: 1cm;font-style:oblique;
    font-family:cursive;
    text-align: center;
}
    
.item{
        font-size: 0.70cm;
        font-style: italic;color:  black;
        padding-left: 20px; padding-bottom: 20px;
        text-align: left;
}        
.buttons{
        text-align: center;
        word-spacing: 1cm;
        padding-bottom: 1cm;
       
    }
.icons{
    display: inline ;
   color:black;
   text-align:right;
   margin-left: 36%;
}

.plus{
    color:white;
    font-size:50px;
    background: orange;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align:center;
    line-height: 20px;
    vertical-align:right;
    padding: 10px;
    margin-left:33cm;
    margin-top: 1cm;
}
