


body
{
   background-color: blue;}
.heading
{
    background-image: linear-gradient(chocolate,orange);
    font-size: 1cm; color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
  
}
.list
{   margin-left: 50px; margin-top: 70px;
    background-color: white;
    border-style:solid; color:black;
    box-sizing:border-box;
    width:25%;
    border-radius: 10px;

}
.title{ 
    background-image:linear-gradient(brown,chocolate);
    font-size: 1cm;font-style:oblique;
    font-family:cursive;
    text-align: center;
}
    
.item{
        font-size: 0.70cm;
        font-style: italic;color:  black;
        padding-left: 20px; padding-bottom: 20px;
        text-align: left;
}        
.buttons{
        text-align: center;
        word-spacing: 1cm;
        padding-bottom: 1cm;
       
    }
.icons{
    display: inline ;
   color:black;
   text-align:right;
   margin-left: 36%;
}

.plus{
    color:white;
    font-size:50px;
    background: orange;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align:center;
    line-height: 20px;
    vertical-align:right;
    padding: 10px;
    margin-left:33cm;
    margin-top: 1cm;
}
.plus {
    position: relative;
    display: inline-block;
    
  }
  
  .plus .tooltiptext {
    visibility: hidden;
    font-size: large;
    width: 150px;
    background-color: orange;
    color:whitesmoke;
    text-align: center;
    border-radius: 5px;
    padding: 1px ;
    position: absolute;
    bottom: 110%;
    left: 27%;
    margin-left: -60px;
  }
  
  .plus .tooltiptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: orange transparent transparent transparent;
  }
  
  .plus:hover .tooltiptext {
    visibility: visible;
  }
  .edit {
    position: relative;
    display: inline-block;
    color: yellowgreen;
  }
  
  .edit .e1 {
    visibility: hidden;
    font-size: small;
    width: 100px;
    background-color:black;
    color:white;
    text-align: center;
    border-radius: 5px;
    padding: 1px ;
    position: absolute;
    bottom: 110%;
    left: 65%;
    margin-left: -60px;
  }
  
  .edit .e1:after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .edit:hover.e1 {
    visibility: visible;
  }
  .trash {
    position: relative;
    display: inline-block;
    color: black;
  }
  
  .trash.e2 {
    visibility: hidden;
    font-size: small;
    width: 100px;
    background-color:black;
    color:white;
    text-align: center;
    border-radius: 5px;
    padding: 1px ;
    position: absolute;
    bottom: 110%;
    left: 70%;
    margin-left: -60px;
  }
  
  .trash.e2:after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .trash:hover.e2 {
    visibility: visible;
  }